body {
	height: 100%;
	width: 100%;
	margin: 0;
}

#landing {
	background-image: url("port_bg_image.jpeg");
	background-repeat: no-repeat;
	height: 458px;
	width: 100vw;
  	top: 0;
	left: 0;
	position: absolute;
	z-index: -1;
}

nav {
	top: 0;
	left: 0;
	padding-top: 25px;
	padding-bottom: 25px;
	margin-right: 25px;
	font-size: 25px;
	position: fixed;
	width: 100%;
	float: right;
	text-align: right;
}

nav.changeNav {
	background-color: green;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 20px;
}

#logo {
	float: left;
	margin-left: 40px;
}

#titleWords {
	width: 75%;
	padding-top: 50px;
	margin: 0 auto;
}

.navlink {
	padding-right: 50px;

}

#headertitle {
	clear: both;
	font-size: 50px;
	color: white;
	position: fixed;
	text-align: center;
}

#placeholder {
	margin-top: 458px;
}

#changePoint {
	height: 80px;
}

#about {
	clear: both;
}